.condition {
	$self: &;
	margin-bottom: 100px;
	
	&__inner {
		display: flex;

		&.container {
			max-width: 1000px;			
		}
		
		@include media('<=xs') {
			flex-wrap: wrap;
		}
	}

	&__image {
		width: 23%;
		transform: perspective(250px) rotateY(5deg);
		
		@include media('<=sm') {
			width: 30%;
		}
		
		@include media('<=xs') {
			width: 100%;
			max-width: 250px;
			margin: 0 auto 40px;
		}
	}
	
	&__side {
		width: 77%;
		padding-left: 40px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		
		@include media('<=sm') {
			width: 70%;
		}
		
		@include media('<=xs') {
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
			text-align: center;
			padding: 0;
		}
	}

	&__text {
		margin-bottom: 20px;
		font-family: "UL", sans-serif;

		p {
			margin-bottom: 5px;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	&__signature {
		max-width: 140px;
		
		@include media('<=xs') {
			margin: 0 auto;
		}
	}
}
