<header class="header @@if(this.class){@@class}"> 
	<div class="header__top">
		<a href="./" class="header__logo">
			@@if(this.class == 'header_dark') {
				<img src="./images/logo.svg" alt="">
			}
			
			@@if(this.class !== 'header_dark') {
				<img src="./images/logo-black.svg" alt="">
			}
		</a>
		<div class="header__lang-toggle">
			<a class="active" href="./">RU</a>
			<a href="./">EN</a>
		</div>
		<button class="header__menu-toggle"></button>
		<div class="header__menu">
			<div class="header__navi">
				<a class="header__navi-link" href="./article.html">About us</a>
				<a class="header__navi-link" href="./events.html">Events</a>
				<a class="header__navi-link" href="./showcase.html">Special projects</a>
				<!-- <a class="header__navi-link" href="./" data-modal='#showcase' data-class="modal_showcase">Special projects</a> -->
				<a class="header__navi-link" href="./">Partners</a>
				<a class="header__navi-link" href="./">Contacts</a>
			</div>
			<div class="header__socials">
				<a class="header__socials-item header__socials-item_fb" href="./"></a>
				<a class="header__socials-item header__socials-item_inst" href="./"></a>
				<a class="header__socials-item header__socials-item_yout" href="./"></a>
			</div>
		</div>
	</div>
</header>