.breadcrumbs {
	$self: &;
	margin-bottom: 50px !important;

	&__link {
		display: inline-block;
		font-size: 14px;
		text-decoration: none;

		&:first-child {
			color: #774C4C;
		}

		&:not(:first-child)::before {
			display: inline-block;
			content: '>';
			margin: 0 10px;
		}
	}

}
