.join {
	$self: &;
	margin-bottom: 70px;

	&__inner {
		display: flex;
		
		@include media('<=lg') {
			flex-wrap: wrap;
		}
	}

	&__form {
		box-sizing: border-box;
		width: 42%;
		margin-right: 12px;
		border: 1px solid #cacaca;
		padding: 40px 60px 35px;
		
		@include media('<=xxlg') {
			width: 50%;
		}
		
		@include media('<=lg') {
			width: 100%;
			margin-bottom: 20px;
		}
		
		@include media('<=xxs') {
			padding: 30px 20px;
		}
	}
	
	&__title {
		text-align: center;
	}
	
	&__fields {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px 30px;
		margin-bottom: 40px;
		
		@include media('<=xs') {
			grid-template-columns: 1fr;
		}
	}

	&__field {

		span {
			font-size: 14px;
			display: block;
		}

		input {
			box-sizing: border-box;
			width: 100%;
			min-width: 0;
			display: block;
			border: 1px solid #aaa;
			padding: 8px 12px;
			border-radius: 5px;
			font-size: 14px;
			
			&::placeholder {
				font-family: "UL", sans-serif;
				color: #ccc;
			}
		}
	}
	
	&__form-submit {
		display: block;
		margin: 0 auto;
		border: 1px solid #aaa;
		padding: 6px 6px 7px;
		font-size: 15px;
		font-family: "UL", sans-serif;
		background: none;
		width: 100%;
		max-width: 200px;
		cursor: pointer;
		transition: background-color 0.5s ease;

		&:hover {
			background-color: #FF0900;
			border-color: #FF0900;
			color: #fff;
		}
		
		@include media('<=xs') {
			max-width: none;
		}
	}
	
	&__side {
		box-sizing: border-box;
		width: 58%;
		padding: 55px 40px;
		border: 1px solid #cacaca;
		
		@include media('<=xxlg') {
			width: 50%;
		}
		
		@include media('<=lg') {
			width: 100%;
		}
		
		@include media('<=xxs') {
			padding: 30px 20px;
		}
	}

	&__side-cap {
		font-family: "UL", sans-serif;
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 20px;
		
		@include media('<=xxs') {
			font-size: 17px;
		}
	}
	
	&__side-text {

		p {
			font-family: "UL", sans-serif;
			margin-bottom: 5px;
		
			@include media('<=xxs') {
				font-size: 15px;
			}
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}
